@model EpicReader.Models.Home.IndexViewModel

<form method="post" asp-action="process" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>

<hr />

<table>
    <thead>
        <tr>
            <th>Oczekujące</th>
            <th>Przetwarzane</th>
            <th>Przetworzone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    @foreach (var document in Model.Queued())
                    {
                        <li>@document</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var document in Model.Processing())
                    {
                        <li>@document</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var document in Model.Processed())
                    {
                        <li><a href="@document.Url">@document.FileName</a></li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
